@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

@layer base {
  :root {
    --background: 0 0% 98%; /* stone 50 */
    --foreground: 0 0% 9%; /* stone 950 */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 0 0% 9%; /* stone 950 */
    --primary-foreground: 0 0% 98%; /* stone 50 */
    --secondary: 0 0% 96.1%; /* stone 100 */
    --secondary-foreground: 0 0% 9%; /* stone 950 */
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%; /* stone 600 */
    --accent: 0 0% 96.1%; /* stone 100 */
    --accent-foreground: 0 0% 9%; /* stone 950 */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%; /* stone 200 */
    --input: 0 0% 89.8%;
    --ring: 0 0% 9%;
    --chart-1: 0 0% 50%;
    --chart-2: 0 0% 70%;
    --chart-3: 0 0% 30%;
    --chart-4: 0 0% 60%;
    --chart-5: 0 0% 40%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 0 0% 9%;
    --sidebar-primary: 0 0% 9%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 96.1%;
    --sidebar-accent-foreground: 0 0% 9%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 0 0% 9%;
  }
  .dark {
    --background: 0 0% 3.9%; /* stone 950 */
    --foreground: 0 0% 98%; /* stone 50 */
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%; /* stone 50 */
    --primary-foreground: 0 0% 9%; /* stone 950 */
    --secondary: 0 0% 14.9%; /* stone 800 */
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%; /* stone 400 */
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%; /* stone 300 */
    --chart-1: 0 0% 50%;
    --chart-2: 0 0% 30%;
    --chart-3: 0 0% 70%;
    --chart-4: 0 0% 40%;
    --chart-5: 0 0% 60%;
    --sidebar-background: 0 0% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 0 0% 9%;
    --sidebar-accent: 0 0% 14.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 14.9%;
    --sidebar-ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
